body {
    font-family: , sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

:root {
    --main-color: #aeccb5;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #75E6C1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #75E6C1;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #ffffff;
}

#idiomas, #informatica, #experiencia, #formacion-reglada, #formacion-complementaria {
    background-color: #E4E5CA;
    padding: 20px;
}

.languages-container, .skills-container, .experience-container, .education-container, .courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language, .skill, .job, .degree, .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD4FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(110, 2, 2, 0.1);
    width: calc(100% - 40px);
    text-align: center;
    margin-bottom: 20px;
}

.language span, .skill span, .job span, .degree span, .course span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia .experience-container {
    justify-content: center;
}

.job {
    width: calc(100% - 40px);
}

.degree, .course {
    width: calc(50% - 40px);
}

#idiomas .languages-container, #informatica .skills-container {
    justify-content: center;
}

#idiomas .language, #informatica .skill {
    width: calc(33.33% - 40px);
}

#formacion-reglada .degree {
    width: calc(50% - 40px);
}
